.wrapper {
    padding: 8px 16px;
    min-width: 100px;
    background-color: var(--white);
    line-height: 18px;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;

    + .wrapper {
        margin-left: 16px;
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: var(--white);
}

.round {
    border-radius: 50px;
}

.small {
    padding: 4px 16px;
    min-width: 88px;
}

.lager {
    padding: 14px 16px;
    min-width: 148px;
}

.isText {
    &:hover {
        text-decoration: underline;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
    line-height: 19px;
    // font-size: 2rem;
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}

.title {
    flex: 1;
}
